page-detail {
    .container{
        .img-detail{
            max-height: 50%;
            min-height: 50%;
            width: 100%;
            object-fit: cover;
            img {
                min-height: 320px;
                max-height: 320px;
                width: 100%;
                object-fit: cover;
            }
        }

        .info-container {
            ion-item{
                text-align: center;
            }

        }
    }

}
